$nav-transition-time: 0.35s;

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: $nav-link-font-family;
}

/* Toggle portion */
.nav-menu-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 4rem;
}

.nav-hash {
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.3rem;
  background-color: $color-secondary;
}

.nav-hash-1 {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  transition: all $nav-transition-time ease-out;
}

.nav-hash-2 {
  position: absolute;
  top: 1.5rem;
  left: 0.5rem;
  transition: all $nav-transition-time ease-out;
}

.nav-hash-3 {
  position: relative;
  top: 2.5rem;
  left: 0.5rem;
  transition: all $nav-transition-time ease-out;
}

/* brand portion */
.nav-brand {
  width: 100vw;
  height: 3.5rem;
  background-color: $color-primary;
  padding-top: 0.5rem;
  box-shadow: $component-shadow;
}

.nav-img-brand {
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  display: block;
}

/* nav list portion */
.nav-list {
  width: 0;
  overflow: hidden;
  border-bottom-right-radius: 0.25rem;
  box-shadow: $component-shadow;
  transition: all $nav-transition-time ease-out;
}

.nav-link {
  display: block;
  width: 16rem;
  height: 3.5rem;
  background-color: $color-primary;
  color: $color-light;
  font-weight: $nav-link-font-weight;
  font-size: $nav-link-font-size;
  border-bottom: 0.01rem solid $color-secondary;
  text-decoration: none;
  text-align: center;
  padding-top: 1rem;
}

.nav-link:last-of-type {
  border-bottom: none;
}

.nav-link:hover,
.nav-link:focus {
  background-color: $color-secondary;
}

/* TOGGLE ICON & NAV MENU LIST */
.nav-list-display {
  width: 16rem;
  transition: all $nav-transition-time ease-in;
}

.nav-hash-a {
  top: 1.5rem;
  transform: rotate(45deg);
  transition: all $nav-transition-time ease-out;
}

.nav-hash-b {
  background-color: transparent;
  transition: all $nav-transition-time ease-out;
}

.nav-hash-c {
  top: 1.5rem;
  transform: rotate(-45deg);
  transition: all $nav-transition-time ease-out;
}

@media screen and (min-width: 800px) {
  nav {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
  }

  .nav-menu-icon {
    display: none;
  }

  .nav-brand {
    width: min-content;
    box-shadow: none;
  }

  nav label {
    display: none;
  }

  .nav-list-display {
    width: 10rem;
    transition: none;
  }

  .nav-list {
    display: flex;
    flex-flow: row nowrap;
    height: 3.5rem;
    width: min-content;
    box-shadow: none;
  }

  .nav-link {
    width: 10rem;
    border-bottom: none;
  }

  .nav-link:hover,
  .nav-link:focus {
    background-color: transparent;
    text-shadow: 0.1rem 0.1rem 0.5rem white, -0.1rem -0.1rem 0.5rem white;
  }
}
