$input-border-normal:  0.1rem solid $primary-color-light;
$input-border-active:  0.15rem solid $primary-color;

form {
    padding: 1rem;
    margin: 0 auto;

    // label {
    //     margin-bottom: 2rem;
    // }

    input, textarea {
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border: $input-border-normal;
        border-radius: 0.3rem;
        background-color: $secondary-color-light;
        width: 100%;
        color: $primary-color;
        font-weight: $text-weight-bold;
        cursor: pointer;
        transition: border 0.5s, box-shadow 0.5s;
    }

    input:hover, textarea:hover {
        border: $input-border-active;
        box-shadow: $shadow-neutral-big;
        outline: none;
    }

    input:focus, textarea:focus {
        border: $input-border-active;
        box-shadow: $shadow-neutral-big;
        outline: none;
    }
    input[type=submit] {
        background-color: $primary-color-light;
        border: $input-border-normal;
    }

    input[type=submit]:hover {
        background-color: $primary-color;
        color: $neutral-color;
        border: $input-border-active;
    }

    input[type=submit]:focus {
        background-color: $primary-color;
        color: $neutral-color;
        border: $input-border-active;
    }
}