#social {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: $secondary-color;
    border-radius: 1em;
    box-shadow: $component-shadow;
    padding: 0.2em 0;

    a {
        text-decoration: none;
        display: inline-block
    }

    .img-social {
        height: 1.5em;
        width: 1.5em;
        margin: 0 0.7em;
        padding: 0;
        border-radius: 0.75em;
    }

    // .img-social:hover {
    //     box-shadow: 0.02em 0.02em 1em white;
    // }
}

// #section-social:hover {
//     box-shadow: 0.02em 0.02em 1em white;
// }

// @media screen and (min-width: 700px){

// }