// z-index list
// _component-nav: nav = 5
// _component-social: #social = 4

@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Calistoga&display=swap");

// VARIABLES

// Color
$color-primary: #aa893a;
$color-secondary: #231800;
$color-accent: #edd293;
$color-dark: black;
$color-light: white;

// Font
$default-font-size: 18px;

$heading-font: "Calistoga", cursive, Georgia, "Times New Roman", Times, serif;
$heading-weight: 700;

$text-font-family: "Times New Roman", Times, serif;
$text-font-size-small: 0.9em;
$text-weight-bold: 600;
$text-weight-normal: 400;

$link-font-family: "Times New Roman", Times, serif;
$link-color: $color-accent;

// Shadow & layering effects - gobal
$shadow: 0.05rem 0.05rem 0.1rem $color-accent;

// COMPONENT VARIABLES
$component-shadow: 0.01rem 0.05rem 1rem rgb(75, 75, 75);

//Component - nav
$nav-link-color: $color-accent;
// $nav-link-font-family: Arial, Helvetica, sans-serif;
$nav-link-font-family: "Amatic SC", cursive;
$nav-link-font-size: 1.5em;
$nav-link-font-weight: 700;
