@import "utility";
@import "component-nav";
@import "component-form";
@import "component-social";

body{
    background: center no-repeat url(/public/img/federico_respini_395x675.webp);
    background-attachment: fixed;
}

nav{

    #nav-menu-list{
        border-bottom-right-radius: 0.3rem;
    }

    ul li a {
        border-top:  0.01rem solid $neutral-color;
        border-bottom: none;
    }
}

#section-profile, #section-training, #section-contact {
    padding-bottom: 4rem;

    h2 {
        margin: 4rem 0;
    }
}

#section-profile {
    text-align: center;
    // background-color: $primary-color-light;

    #profile-top{
        margin-bottom: 2rem;

        h1{
            margin-bottom: 2.5rem;
        }
    }

    .img-profile {
        height: 8rem;
        width: 8rem;
        margin-bottom: 2.5rem;
        border-radius: 4rem;
        box-shadow: $shadow-light-big;
    }
    
    .skill-icon {
        margin: 0.8rem 0.70rem;
        border-radius: 3rem;
        box-shadow: $shadow-dark-big;
    }

    .img-skill-icon {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 0.5rem;
    }

    .skill-icon:hover, .skill-icon:focus {
        box-shadow: $shadow-light-big; 
        transition: box-shadow 0.15s ease-in-out;
    }
}

#section-training {
    // background-image: linear-gradient(180deg, $primary-color-light, $neutral-color, $neutral-color);

    .training-text-block {
        margin-bottom: 1.5rem;
        text-align: center;

        p {
            margin: 0.35rem;
        }
    }
}

@import "media-700-above";